<mat-card style="height: 100%; width: 100%; background-color: #DFEEEA; border: 4px solid #5E8B7E;">
  <div class="content">
    <mat-form-field style="width: 26rem; font-size: 1.6rem;" appearance="fill" class="content-picker">
      <mat-label>Enter a desired period</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
        <input matEndDate placeholder="End date" [(ngModel)]="endDate">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <input placeholder="Guests number" class="input" [(ngModel)]="searchRequest.guests" min="1" step="1" type="number">
    <mat-form-field style="height: 4rem; width: 22rem; font-size: 2rem;">
      <mat-label>Country</mat-label>
      <input matInput type="text" [(ngModel)]="this.searchRequest.country">
      <button *ngIf="valueCountry" matSuffix mat-icon-button aria-label="Clear" (click)="valueCountry=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field style="height: 4rem; width: 22rem; font-size: 2rem;">
      <mat-label>City</mat-label>
      <input matInput type="text" [(ngModel)]="this.searchRequest.city">
      <button *ngIf="valueCity" matSuffix mat-icon-button aria-label="Clear" (click)="valueCity=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button style="height: 4rem; width: 16rem; background-color: #5E8B7E; color: white;" (click)="search()">Search</button>
  </div>
</mat-card>
