<div class="edit-info">
  <div class="register">
    <div class="register__title">Edit Profile</div>
    <form (submit)="onFormSubmit()" class="register__form">
      <div class="register__form__row">
        <div class="register__form__row__item">
          <input [(ngModel)]="firstName" type="text" matInput name="name" />
          <label>First Name</label>
        </div>
        <div class="register__form__row__item">
          <input [(ngModel)]="lastName" type="text" matInput name="lname" />
          <label>Last Name</label>
        </div>
      </div>
      <div class="register__form__row">
        <div class="register__form__row__item">
          <input [(ngModel)]="location" type="text" matInput name="loc" />
          <label>Address</label>
        </div>
        <div class="register__form__row__item">
          <input [(ngModel)]="phoneNumber" type="text" matInput name="pn" />
          <label>Phone Number</label>
        </div>
      </div>
      <div class="register__form__row">
        <div class="register__form__row__item">
          <input [(ngModel)]="email" type="text" email name="email" />
          <label>Email</label>
        </div>
        <div class="register__form__row__item">
          <input [(ngModel)]="password" type="password" matInput name="pass" />
          <label>Password</label>
        </div>
      </div>
      <div class="register__form__submit">
        <button type="submit" id="submit">Submit</button>
      </div>
    </form>
  </div>
  <div class="notification-options">
    <div class="notification-options__title">Notification options</div>
    <div class="notification-options__form">
      <div class="notification-options__form__row">
        <div class="notification-options__form__row__item" *ngIf="userInfo.role === 'HOST'">
          <label>Reservation requests</label>
          <mat-slide-toggle
            [color]="color"
            [checked]="userNotificationOptions.reservationRequest"
          ></mat-slide-toggle>
        </div>
        <div class="notification-options__form__row__item" *ngIf="userInfo.role === 'HOST'">
          <label>Reservation cancellation</label>
          <mat-slide-toggle
            [color]="color"
            [checked]="userNotificationOptions.reservationCancellation"
          ></mat-slide-toggle>
        </div>
        <div class="notification-options__form__row__item" *ngIf="userInfo.role === 'GUEST'">
          <label>Host reservation answers</label>
          <mat-slide-toggle
            [color]="color"
            [checked]="userNotificationOptions.hostsReservationAnswer"
          ></mat-slide-toggle>
        </div>
      </div>
      <div class="notification-options__form__row">
        <div class="notification-options__form__row__item" *ngIf="userInfo.role === 'HOST'">
          <label>Profile rating</label>
          <mat-slide-toggle
            [color]="color"
            [checked]="userNotificationOptions.profileRating"
          ></mat-slide-toggle>
        </div>
        <div class="notification-options__form__row__item" *ngIf="userInfo.role === 'HOST'">
          <label>Accommodation rating</label>
          <mat-slide-toggle
            [color]="color"
            [checked]="userNotificationOptions.accommodationRating"
          ></mat-slide-toggle>
        </div>
        <div class="notification-options__form__row__item" *ngIf="userInfo.role === 'HOST'">
          <label>Distinguished host status</label>
          <mat-slide-toggle
            [color]="color"
            [checked]="userNotificationOptions.distinguishedHostStatus"
          ></mat-slide-toggle>
        </div>
      </div>
      <div class="notification-options__form__submit">
        <button type="submit" id="submit" (click)="editNotificationOptions">Submit</button>
      </div>
    </div>
  </div>
</div>
