.requests {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  &__container {
    width: 80%;
    height: 70%;

    &__title {
      font-size: 22px;
      margin-bottom: 2rem;
      font-weight: 500;
    }
  }

}
