@import url('../../../../colors.scss');

.left-side {
  float: left;
  width: 60%;
  min-height: 100vh;
  padding: 5rem;

}

.right-side {
  float: right;
  width: 40%;
  min-height: 100vh;
  padding: 5rem;
}

.content-form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  gap: 3rem;

  &-header {
    font-size: 3rem;
    font-weight: 500;
    color: var(--fav-light);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 10%;
    width: 100%;
  }

  &-info {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    font-size: 2rem;
    color: var(--fav-light);

    &-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 2rem;
      align-items: center;
      height: 10rem;
      width: 100%;

      &-b {
        font-weight: 500;
        font-size: 2.2rem;
      }
    }
  }

  &-address-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 15rem;
    font-size: 2rem;
    gap: 3rem;
    color: var(--fav-light);

    &-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 3rem;

      &-header {
        font-size: 2.2rem;
        font-weight: 500;
      }
    }
  }
}

.mat-cell {
  color: white;
}

.mat-header-cell {
  color: white;
}

.mat-row:hover {
  background-color: #AFE1AF;
  cursor: pointer;
}