.change-button {
  background-color: #5e8b7e;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
}

.delete-button {
  background-color: #ff0000;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
}

.mat-card {
  margin: 100px;
  border-width: 2px;
  border: #5e8b7e;
  border-radius: 10px;
}

.mat-card-title {
  font-size: 40px;
}

.mat-card-content {
  font-size: 30px;
  margin-top: 20px;
}
.date {
  margin-top: 20px;
}
.host {
  font-size: 50px;
  margin-left: 100px;
  margin-top: 40px;
}
.avgRate {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 30px;
}
