:host {
  --blue: #03e9f4;
  --pure-white: white;
  --pure-black: #000;
  --main: #4f8a8b;
  --second: #989898;
  --fav-dark: #2F5D62;
  --fav-light: #5E8B7E;
  --error: #FF0000;
  --back: #E1EBEE;
  --background: #DFEEEA;
}
