<div class="content">
  <div class="content-header">
    Update selected accommodation
  </div>
  <div class="content-row">
    <div>
      Available period :
    </div>
    <div>
      <mat-form-field style="height: 1rem; width: 26rem; font-size: 1.6rem; margin-bottom: 4rem;" appearance="fill" class="content-picker">
        <mat-label>Enter a desired period</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate [(ngModel)]="updateRequest.start" placeholder="Start date" >
          <input matEndDate [(ngModel)]="updateRequest.end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>
  <div class="content-row">
    <div>
      Regular price :
    </div>
    <div>
      <input placeholder="Price" [(ngModel)]="updateRequest.price" class="content-row-number" min="1" step="1" type="number">
    </div>
  </div>
  <div class="content-button">
    <button mat-raised-button mat-dialog-close style="height: 4rem; width: 12rem; font-size: 1.6rem;" (click)="update()" color="primary">Update</button>
  </div>
</div>
